<footer class="container-xl margin-start-6xl">
	<nav class="navbar">
		<ul>        
			<li><a  href="/html/static/about.html">About the creator</a></li>
			<li><a href="/html/static/vision.html">Vision</a></li>
			<li>
				<details>
					<summary>Other links</summary>
		<ul>        
			<li><a  href="/html/static/about.html">About the creator</a></li>

			<li><a href="/html/feedback.html">Share feedback</a></li>
			<li><a  href="/html/static/siteRules.html">Site rules</a></li>
			<li><a  href="/html/static/faq.html">FAQ</a></li>
			<li><a  href="/html/static/join.html">Join</a></li>
			<li><a href="/html/list/conventions.html" >Conventions</a></li>
			<li><a href="/html/list/gameRestaurants.html">Game restaurants</a></li>
			<li><a  href="/html/list/gameStores.html">Game stores</a></li>
			<li><a href="/html/static/designers.html">Local designers</a></li>
			<li><a href="/html/static/vision.html">Vision</a></li>
			<li><a href="/links.html">Other websites </a></li>
		</ul> 
				</details>
			</li>	
		</ul> 
	</nav>


		<hr> 
		<p class="size-3xs">Made  by  <a href="/html/static/about.html">Bharat</a> as a non-commercial site without generative AI. Contet on this website is public under
		the <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt">CC BY-SA 4.0
	        license</a> use by humans. Content cannot be used or reproduced in any manner for use by AI systems. </p>
    </div>
  </div>
</footer>
