<style>
  nav a{
    border: none;
    background-color: none;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  nav a.active {
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    background-color: var(--clr-light-blue);
    color: white;
    text-decoration: none;
  }
  nav a:last-child {
    text-wrap: nowrap;
    text-decoration: none;
  }
  #logo-div img {
    max-height: 4.5rem;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
  }
  #other-links-container {
    display: inline-block;
  }
  #secondary-nav a {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right:2rem;
  }
  #site-rules-link {
      padding-top:0.5rem;
  }
  .dropdown {
      display: block;
      position: relative;
  }
  .dropdown-content a {
    display: block;
    line-height: 1.5rem;
  }
  .raised:active {
    transform: none;
    transition: none;
  }
  .raised:hover {
    transform: none;
    transition: none;
  }
  .top-link {
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .ui-section {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media not screen and (width < 32em) {
    nav a + a {
      border-color: white;
      border-width: 1px;
      margin-left: 1px;
    }
    #dropdown-container {
      background-color: var(--clr-light-blue);
      border-radius: 12px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      left: -10rem;
      min-width: 37.5rem;
      position: absolute;
      z-index: 1;
    }
    #login-component-container {
      padding-top:0.5rem;
      position: absolute;
      right:1rem;
    }
    #logo-div {
      float: left;
      height:5rem;
      width: 15.5rem;
    }
    #navbar-front {
      padding: 1rem;
    }
    #other-links-container {
      padding-top:0.5rem;
    }
    #tertiary-nav {
      display: inline-block;
    }
    #secondary-nav a, span {
      font-size: 1rem;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
      display:inline-block;
      font-size:1rem;
      padding-left:0.5rem;
    }

    .dropdown-content {
      display: none;
    }
    .show-mobile {
      display: none;
    }
    .top-nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0.5rem;
    }
  }
  @media screen and (width < 32em) {
    nav a + a {
      border-color: white;
      border-width: 1px;
    }
    #dropdown-container {
      text-align: center;
    }
    #dropdown-triangle-secondary {
      display: block;
    }
    #logo-div {
      display: flex;
      justify-content: center;
    }
    #other-links-container {
      line-height: 1.5;
      text-align: center;
    }
    #share-feedback-link {
      line-height: 1.5;
    }
    #tertiary-nav {
      text-align: center;
    }
    .dropdown-content {
      display: none;
    }
    .dropdown-content a {
      line-height: 1.5;
    }
    .hide-mobile {
      display: none;
    }
    .show-mobile {
      width: 0;
      height: 0;
      margin-top:0.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    .show-more-links {
      font-size:1rem;
    }
    .top-nav {
      display: grid;
      text-align: center;
    }
    .triangle-down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid black;
    }
    .triangle-up{
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid black;
    }
  }
</style>

<nav class="raised" id="navbar">
  <span class="shadow" id="navbar-shadow"></span>
  <span class="edge" id="navbar-edge"></span>
  <span class="front" id="navbar-front">
    <div id="logo-div">
      <img fetchpriority="high" src="/assets/images/logo.svg">
    </div>
    <div id = "main-nav" class="ui-section top-nav">
      <div class="top-nav">
        <a class = "top-link" href="/index.html" id="main-page-link" >Search</a>
        <div id="other-links-first">
             <div class="show-mobile show-more-links">Other links</div>
        </div>
        <div id="dropdown-triangle" class="show-mobile triangle-down">
        </div>
        </a><a class="hide-mobile top-link" href="/html/feedback.html" id="share-feedback-link">Share feedback</a>

      <div id="tertiary-nav" class="dropdown hide-mobile">
        <div id="other-links-container" class="top-link show-more-links">Other links</div>
        <div id="dropdown-triangle-secondary" class="show-mobile triangle-down"></div>

          <div id="dropdown-container">
            <div class="dropdown-content">
              <a id="site-rules-link"  href="/html/static/siteRules.html">Site rules</a>
              <a class ="label-border-left" href="/html/static/faq.html">FAQ</a>
              <a class ="label-border-left" href="/html/static/join.html">Join</a>
              <a class ="label-border-left"  href="/html/conventions.html" >Conventions</a>
              <a class ="label-border-left" href="/html/gameRestaurants.html">Game restaurants</a>
              <a class="label-border-left" href="/html/gameStores.html">Game stores</a>
              <a class="label-border-left" href="/html/static/designers.html">Local designers</a>
              <a class="label-border-left" href="/html/static/vision.html">Vision</a>

              <a class=" label-border-left" href="/links.html">Other websites </a>
            </div>
        </div>
      </div>

        <div id="login-component-container" class="hide-mobile"><login-status-component></login-status-component></div>
      </div>
    </div>
  </span>
</nav>



<div id="bg-image">
  <div class="bg-image-container part-1">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="bg-image-container part-2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>

  //Javascript that should only run on mobile devices
  /**
   * TODO
   *
   */
  if(navigator.maxTouchPoints > 0){

    const togglePrimaryDropdown = function() {
      const hiddenMobileElements = document.getElementsByClassName("hide-mobile")

      if (hiddenMobileElements.length > 0) {

        for (let i = hiddenMobileElements.length - 1; i >= 0; i--) {
            hiddenMobileElements.item(i).className = "is-visible";
        }
        document.getElementsByClassName("triangle-down").item(0).className = "triangle-up show-mobile"
        document.querySelectorAll("#other-links-first .show-mobile").item(0).innerText = "Hide links";

      } else {

        const visibleMobileElements = document.getElementsByClassName("is-visible")
        for (let i = visibleMobileElements.length - 1; i >= 0; i--) {
            visibleMobileElements.item(i).className = "hide-mobile";
        }
        document.getElementsByClassName("triangle-up").item(0).className = "triangle-down show-mobile"
        document.querySelectorAll("#other-links-first .show-mobile").item(0).innerText = "Other links";
      }
    }


    const dropdownTriangleSecondary = document.getElementById("dropdown-triangle-secondary");
    const toggleSecondaryDropdown = function() {

      const dropdownLinks = document.querySelectorAll("#dropdown-container a")
      const dropdownContent = document.getElementsByClassName("dropdown-content").item(0)
      const dropdownContentStyle = dropdownContent.style;

      if (dropdownContentStyle.display !== "block") {
        dropdownLinks.forEach((link) => {
          link.className = "showMobile"
        })
        dropdownContent.style = "display:block;"
        dropdownTriangleSecondary.className = "triangle-up show-mobile"
        document.querySelectorAll("#other-links-container").item(0).innerText="Hide links";
      } else {
        dropdownLinks.forEach((link) => {
          link.className = "hideMobile"
        })
        dropdownContent.style = "display:none;"
        dropdownTriangleSecondary.className = "triangle-down show-mobile"
        document.querySelectorAll("#other-links-container").item(0).innerText="Other links";
      }
    }

    document.getElementById("dropdown-triangle-secondary").addEventListener("click", (event) => {
      event.preventDefault();
      toggleSecondaryDropdown();
    });
    document.getElementById("dropdown-triangle").addEventListener("click", (event) => {
      event.preventDefault();
      togglePrimaryDropdown()
    });
    document.getElementById("other-links-first").addEventListener("click", (event) => {
      event.preventDefault();
      togglePrimaryDropdown()
    });
    document.getElementById("other-links-container").addEventListener("click", (event) => {
      event.preventDefault();
      togglePrimaryDropdown()
    });
  }


  const hexagons = window.innerWidth/240.0;

  //Center based on position of top row of hexagons
  if((hexagons - Math.floor(hexagons))<0.5) {
    const totalMargin = window.innerWidth-240*Math.floor(hexagons);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

  else {
    const totalMargin = window.innerWidth-(240*Math.floor(hexagons)+120);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

</script>
