<link rel="stylesheet" href="styles/kelp.css"/>

<div id="top-section"></div>
<header class="container-xl margin-end-m">
	<nav id="main-nav" class="navbar">
		<a class="logo" href="#">DMV Board Games</a> 
		<ul>        
			<li><a class="btn primary" href="/html/list/searchGroups.html">Search groups</a></li>
			<li><div><login-status-component></login-status-component></div></li>
		</ul>
	</nav>
</header>

<div id="bg-image">
  <div class="bg-image-section part-1">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="bg-image-section part-2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>


  const hexagons = window.innerWidth/240.0;

  //Center based on position of top row of hexagons
  if((hexagons - Math.floor(hexagons))<0.5) {
    const totalMargin = window.innerWidth-240*Math.floor(hexagons);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

  else {
    const totalMargin = window.innerWidth-(240*Math.floor(hexagons)+120);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

</script>
