:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(206, 100%, 52%);
  --clr-very-light-blue: hsl(206, 100%, 92%);

}

html,
body {
  padding-inline: 1rem;
  padding-block-end: 3rem;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
  cursor: url(/assets/meeple.png) 16 16, pointer;

}

button {
  background-color: var(--clr-lighter-blue);
  background-image: url("/assets/wood.png");
  border-color: var(--clr-darker-blue);
  border-radius: 5px;
  border-width:1px;
  color: white;
  font-size: 1rem;
  padding:0.5rem;
}

button:hover {
  background-color: var(--clr-darker-blue);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container {
  max-width: 65rem;
  margin-inline: auto;
}



#page-info {
  padding-top: 8px;
}

#page-info {
  background-color: var(--clr-very-light-blue);
  background-image: url("/assets/wood.png");
  border-radius: 10px;
  color: var(--clr-dark-blue);
}

#page-info p {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#root {
  padding-top: 0.25rem;
}

#nav-container {
  padding-top: 0.25rem;
}

#nav-container div {
  font-weight: 600;
  height:38px;
  vertical-align: middle;
  line-height: 38px;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-right: 1rem;
  display: inline-block;
}

select:focus,
select:focus-visible {
  outline: 1px solid var(--clr-light-blue);
}


.page-section h3 {
  color: var(--clr-dark-blue);
  font-size: 1.5rem;
  margin: 0.5rem 0 0 3rem;
}

.page-section p {
  color: var(--clr-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
}


@media screen and (width < 50em) {


  #search-days {
    margin-top: 1rem;
  }

  .event-group h2 {
    font-size: 1.25rem;
  }

  .page-section h3 {
    font-size: 1.25rem;
  }

  #root h1 {
    font-size: 2rem;
    margin-right: 0.75rem;
  }
}

.ui-info-section {
  background: hsl(from var(--clr-lighter-blue) h s l / 0.05);
  color: var(--clr-dark-blue);
  font-weight: 600;
  padding-left: 1rem;
}

.ui-info-section a {
  border-color: var(--clr-darker-blue);
  border-width:1px;
  font-weight: 400;
}

.ui-section {
  padding-left: 1rem;
  font-size: 1.25rem;
}

.ui-separator {
  border-top: 1px solid var(--clr-lighter-blue);
}


@media screen and (width < 32em) {
  #root {
    padding: 0;
  }
}




