html, body {
    width: 100%;
    padding:0;
    margin:0;
}
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1 0 100%;
    padding-left: 32px;
}

#root {
    flex: 1 0 100%;
    text-align: start;
}

#container {
    display:flex;
    align-items: start;
}

#event-page-info {
    text-align: start
}
#listing-page {
    text-align: start
}