<style>

    .ui-section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .raised:hover {
        transform: none;
        transition: none;
    }

    .raised:active {
        transform: none;
        transition: none;
    }

    #logo-div {
        min-width: 15.5rem;
    }

    #logo-div img {
        max-height: 4.5rem;
        padding-left: 0.5rem;
        padding-top: 0.2rem;
    }

    nav a,
    #jump-to a {
        border: none;
        background-color: none;
        color: white;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 0rem;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    nav a.active,
    #jump-to a.active {
        background-color: #04aa6d;
        color: white;
        text-decoration: none;
    }

    nav a:hover,
    #jump-to a:hover {
        background-color: var(--clr-darker-blue);
        color: white;
        text-decoration: none;
    }

    nav a:last-child {
        text-wrap: nowrap;
        text-decoration: none;
    }

    #nav-filler {
        display: inline-block;
        background-color: var(--clr-lighter-blue);
        flex-grow: 1;
    }

    #navbar {
      margin-bottom:2rem;
    }

    @media not screen and (width < 32em) {
        #logo-div {
            float: left;
        }

        .top-nav {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0.5rem;
        }

        nav a + a {
            margin-left: 1px;
            border-color: white;
            border-width: 1px;
        }

        .showOnMobile {
            display:none;
        }

    }

    @media screen and (width < 32em) {
        #logo-div {
            display: flex;
            justify-content: center;
        }

        .top-nav {
            display: grid;
            text-align: center;
        }

        nav a + a {
            border-color: white;
            border-width: 1px;
        }
        .hideOnMobile {
            display: none;
        }
        .showOnMobile {
            width: 0;
            height: 0;
            margin-top:0.5rem;
            margin-left: auto;
            margin-right: auto;
        }

        .triangle-down {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid black;
        }


        .triangle-up{
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid black;
        }

    }
</style>

<nav class="raised" id="navbar">
  <span class="shadow"></span>
  <span class="edge"></span>
  <span class="front">
    <div id="logo-div">
      <img src="/assets/logo.svg">
    </div>
    <div class="ui-section top-nav">
      <div class="top-nav">

        <div class="showOnMobile triangle-down">
        </div>
        <a class = "hideOnMobile" href="/index.html">Home
        </a>

        <a class="hideOnMobile" href="/designers.html">Local designers
        </a><a class="hideOnMobile" href="/print_and_play.html">Print and Play
        </a><a class="hideOnMobile" href="https://gatherspiel.com/vision.html">Future plans
        </a><a class="hideOnMobile" href="/useful_links.html">Useful Links
        </a><a class="hideOnMobile" href="/feedback.html">Feedback</a>

        <div class="hideOnMobile">
            <login-status-component></login-status-component>
        </div>

      </div>
    <div id="nav-filler"></div>
    </div>
  </span>
</nav>


<div id="bg-image">
  <div class="bg-image-container part-1">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="bg-image-container part-2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  document.getElementById("navbar").addEventListener("click", () => {
    const elements = document.getElementsByClassName("hideOnMobile")

    if(elements.length >0){
      for(let i = elements.length-1; i>=0;i--){
        elements.item(i).className ="isVisible";
      }
      document.getElementsByClassName("triangle-down").item(0).className = "triangle-up showOnMobile"

    } else {
      const elements = document.getElementsByClassName("isVisible")
      for(let i = elements.length-1; i>=0;i--){
        elements.item(i).className ="hideOnMobile";
      }
      document.getElementsByClassName("triangle-up").item(0).className = "triangle-down showOnMobile"
    }
  })


</script>

