<style>
  .ui-section {
      padding-top: 0;
      padding-bottom: 0;
  }
  .raised:hover {
      transform: none;
      transition: none;
  }
  .raised:active {
      transform: none;
      transition: none;
  }
  #logo-div {
      min-width: 15.5rem;
  }
  #logo-div img {
      max-height: 4.5rem;
      padding-left: 0.5rem;
      padding-top: 0.2rem;
  }
  nav a{
      border: none;
      background-color: none;
      color: white;
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      text-decoration: none;
      transition: all 0.3s ease;
  }
  .top-link {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  nav a.active {
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
  }
  nav a:hover {
    background-color: var(--clr-light-blue);
    color: white;
    text-decoration: none;
  }
  nav a:last-child {
    text-wrap: nowrap;
    text-decoration: none;
  }
  #conventions-link {
    padding-top:0.5rem;
  }
  .dropdown {
    padding-top:0.5rem;
    position: relative;
  }
  .dropdown-content a {
    display:inline-block;
    padding-left:0.5rem;
    line-height: 2rem;
  }
  @media not screen and (width < 32em) {
    nav a + a {
      border-color: white;
      border-width: 1px;
      margin-left: 1px;
    }
    #logo-div {
      float: left;
    }

    #navbar-front {
      padding: 1rem;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content {
      background-color: var(--clr-light-blue);
      border-radius: 12px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      display: none;
      left:-10rem;
      min-width: 35rem;
      padding: 1rem;
      position: absolute;
      z-index: 1;

    }
    .show-mobile {
      display:none;
    }
    .top-nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0.5rem;
    }
  }
  @media screen and (width < 32em) {
    nav a + a {
      border-color: white;
      border-width: 1px;
    }
    #logo-div {
      display: flex;
      justify-content: center;
    }
    .dropdown-content {
      display: none;
    }
    .hide-mobile {
      display: none;
    }
    .section-separator-small {
      display: none;
    }
    .show-mobile {
      width: 0;
      height: 0;
      margin-top:0.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    .top-nav {
      display: grid;
      text-align: center;
    }
    .triangle-down {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
    }
    .triangle-up{
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid black;
    }
  }
</style>

<nav class="raised" id="navbar">
  <span class="shadow" id="navbar-shadow"></span>
  <span class="edge" id="navbar-edge"></span>
  <span class="front" id="navbar-front">
    <div id="logo-div">
      <img fetchpriority="high" src="/assets/logo.svg">
    </div>
    <div class="ui-section top-nav">
      <div class="top-nav">

        <div class="show-mobile triangle-down">
        </div>
        <a class = "hide-mobile top-link" href="/index.html" id="main-page-link" >Home
        </a>
        </a><a class="hide-mobile top-link" href="/beta/feedback.html" id="share-feedback-link">Share feedback</a>
        <div class = "dropdown top-link">
          <div class="hide-mobile" id="dropdown-container">
            Other links
            <div class="dropdown-content">
              <a class="hide-mobile" href="/conventions.html" id="conventions-link">Conventions</a>
              <a class="hide-mobile label-border-left" href="/gameRestaurants.html">Game restaurants</a>
              <a class="hide-mobile label-border-left" href="/gameStores.html">Game stores</a>
              <a class="hide-mobile" href="/designers.html">Local designers</a>
              <a class="hide-mobile label-border-left" href="/links.html">Other websites </a>
            </div>
            </div>
          </div>
      </div>
    </div>
  </span>
</nav>


<div id="bg-image">
  <div class="bg-image-container part-1">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="bg-image-container part-2">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>

  //Javascript that should only run on mobile devices
  if(navigator.maxTouchPoints > 0){

    document.getElementById("navbar").addEventListener("click", (event) => {

      if(event.target.id === 'dropdown-container'){
        const dropdownLinks = document.querySelectorAll("#dropdown-container a")

        const dropdownContentStyle = document.querySelector(".dropdown-content").style;
        if(dropdownContentStyle.display !== "block") {
          dropdownLinks.forEach((link)=>{
            link.className="showMobile"
          })
          document.querySelector(".dropdown-content").style="display:block;"
        } else {
          dropdownLinks.forEach((link)=>{
            link.className="hideMobile"
          })
          document.querySelector(".dropdown-content").style="display:none;"
        }

      }

      else {
        const hiddenMobileElements = document.getElementsByClassName("hide-mobile")

        if(hiddenMobileElements.length >0){
          for(let i = hiddenMobileElements.length-1; i>=0;i--){
            hiddenMobileElements.item(i).className ="is-visible";
          }
          document.getElementsByClassName("triangle-down").item(0).className = "triangle-up show-mobile"

        } else {
          const visibleMobileElements = document.getElementsByClassName("is-visible")
          for(let i = visibleMobileElements.length-1; i>=0;i--){
            visibleMobileElements.item(i).className ="hide-mobile";
          }
          document.getElementsByClassName("triangle-up").item(0).className = "triangle-down show-mobile"
        }
      }

    })
  }


  const hexagons = window.innerWidth/240.0;

  //Center based on position of top row of hexagons
  if((hexagons - Math.floor(hexagons))<0.5) {
    const totalMargin = window.innerWidth-240*Math.floor(hexagons);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

  else {
    const totalMargin = window.innerWidth-(240*Math.floor(hexagons)+120);
    document.getElementsByClassName("part-1").item(0).style =`z-index:-100;position: absolute;top: 0;left:${totalMargin/2}px;`
    document.getElementsByClassName("part-2").item(0).style =`z-index: -100;position: absolute;top: calc(var(--s)*0.86610);left:${120+totalMargin/2}px;`
  }

</script>
