

#designers-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.left-col *,
.right-col * {
  color: var(--clr-dark-blue);
  max-width: 35ch;
}

.left-col li a,
.right-col li a,
li::marker {
  color: var(--clr-light-blue);
}

.left-col > h2,
.right-col > h2 {
  line-height: 1.3;
  text-wrap: balance;
}
