:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(199, 100%, 55%);
}

#hero-sec {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#hero-sec img {
  max-width: 100%;
}

#hero-sec p {
  max-width: 50ch;
  line-height: 1.75;
  color: var(--clr-dark-blue);
}

/* #event-page-info {
  text-align: start;
} */

#search-form button {
  background: white;
  outline: 2px solid var(--clr-light-blue);
  color: var(--clr-light-blue);
}
