#hero-sec {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#para-wrapper {
  background: hsl(from var(--clr-lighter-blue) h s l / 0.1);
  border-radius: 10px;
  padding: 1rem;
}

#hero-sec img {
  width: clamp(350px, 40vw, 525px);
}

#hero-sec p {
  color: var(--clr-dark-blue);
  line-height: 1.75;
  max-width: 50ch;
  font-weight: 600;
}

#root {
  padding-top: 1.5rem;
}

#event-search {
  border-top: 1px solid var(--clr-lighter-blue);
  padding-block: 1.5rem;
}

#search-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: left;
}

#search-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-form label {
  color: var(--clr-lighter-blue);
  font-weight: 600;
  margin-right: 0.5rem;
}

#search-form select {
  border-color: var(--clr-light-blue);
  border-radius: 5px;
  color: var(--clr-light-blue);
  cursor: pointer;
  font-weight: 600;
  margin-right: 1.25rem;
  padding: 0.25rem;
}

select:focus,
select:focus-visible {
  outline: 1px solid var(--clr-light-blue);
}

#jump-to {
  border-bottom: 1px solid var(--clr-lighter-blue);
  padding-block: 0.5rem;
  /* the padding-inline helps on small screens */
}

#jump-to p {
  color: var(--clr-lighter-blue);
  display: inline-block;
  font-weight: 600;
}

#jump-to a {
  text-wrap: nowrap;
}

.event-group h2,
.event-group p {
  display: inline-block;
  margin-left: 2rem;
}

.conv-list-item a:hover,
.conv-list-item a:focus-visible,
.event-group a:hover,
.event-group a:focus-visible,
.game-restaurant-list-item a:hover,
.game-restaurant-list-item a:focus-visible,
.game-store-list-item a:hover,
.game-store-list-item a:focus-visible {
  color: var(--clr-dark-blue);
}
.game-store-list-item {
  margin: 20px 0px;
}
.game-store-list-item p {
  display: inline;
}

.page-section h3 {
  color: var(--clr-dark-blue);
  font-size: 1.5rem;
  margin: 0.5rem 0 0 3rem;
}

.page-section p {
  color: var(--clr-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
}

.event-summary {
  margin-left: 2rem;
}

.event-summary p {
  margin-left: 1rem;
  background: hsl(from var(--clr-lighter-blue) h s l / 0.1);
  border-radius: 10px;
  color: var(--clr-dark-blue);
  padding: 2rem;
}

.event {
  border-bottom: 1px solid var(--clr-lighter-blue);
  position: relative;
  transform: translate;
}

#no-event {
  font-size: 1rem;
  margin: 0 0 0 9.5rem;
}

.event p:nth-child(2),
.event p:nth-child(3) {
  color: var(--clr-light-blue);
  margin: 0.5rem 0 0 3rem;
}

.event p:nth-child(5) {
  font-size: 1rem;
  max-width: 65ch;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.conv-list-item > *,
.game-store-list-item > *,
.game-restaurant-list-item > * {
  display: inline-block;
}

h3:not(.event h3) {
  margin: 0 1rem 0 0;
}

@media screen and (width < 50em) {
  nav {
    text-align: center;
  }

  #search-days {
    margin-top: 1rem;
  }

  .event-group h2 {
    font-size: 1.25rem;
  }

  .page-section h3 {
    font-size: 1.25rem;
  }

  #root h1 {
    font-size: 2rem;
    margin-right: 0.75rem;
  }
}

@media screen and (width < 32em) {
  #hero-sec p {
    text-align: center;
  }

  #root {
    padding: 0;
  }

  #jump-to {
    padding-block: 0 1.5rem;
  }

  #search-form {
    gap: 2rem;
  }

  #no-event {
    margin: 0;
  }

  .event-group {
    border-bottom: 1px solid var(--clr-lighter-blue);
    padding-top: 1.5rem;
    text-align: center;
  }

  .event-group h2,
  .event-group p {
    display: block;
    margin-left: 0;
  }

  .event p:nth-child(2),
  .event p:nth-child(3),
  .event p:nth-child(5),
  .event h3 {
    margin-left: 0rem;
  }

  .page-section {
    text-align: center;
  }
}
