#page-info p {
  background: hsl(from var(--clr-lighter-blue) h s l / 0.1);
  border-radius: 10px;
  color: var(--clr-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
}

p {
  color: var(--clr-dark-blue);
}

li a,
li,
li::marker {
  color: var(--clr-light-blue);
}
