html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
  height: 100%;
}

#bg-image {
  --s: 240px; /* size  */
  --m: 0px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  background-color: #01118d;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0.06;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100;
}

#top-section {
	background-image:url("/assets/images/meeples.png");
	height: 12px;
	background-repeat:repeat;
	background-position:center;
}

.bg-image-section {
  font-size: 0; /*disable white space between inline block element */
}

.bg-image-section > div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  align-items: center;
  justify-content: center;
}
.bg-image-section div:nth-child(18n -1) {
  background: #00fc6e;
}
.bg-image-section div:nth-child(18n - 2) {
  background: #a32200;
}
.bg-image-section div:nth-child(18n - 3) {
  background: #007432;
}
.bg-image-section div:nth-child(18n - 4) {
  background: #007432;
}
.bg-image-section div:nth-child(18n - 5) {
  background: #515354;
}
.bg-image-section div:nth-child(18n -6) {
  background: #00fc6e;
}
.bg-image-section div:nth-child(18n - 7) {
  background: #a32200;
}
.bg-image-section div:nth-child(18n -8) {
  background: #00fc6e;
}
.bg-image-section div:nth-child(18n - 9) {
  background: #ffb800;
}
.bg-image-section div:nth-child(18n -10) {
  background: #00fc6e;
}
.bg-image-section div:nth-child(18n -11) {
  background: #007432;
}
.bg-image-section div:nth-child(18n - 12) {
  background: #ffb800;
}
.bg-image-section div:nth-child(18n -13) {
  background: #ffb800;
}
.bg-image-section div:nth-child(18n - 14) {
  background: #a32200;
}
.bg-image-section div:nth-child(18n - 15) {
  background: #515354;
}
.bg-image-section div:nth-child(18n - 16) {
  background: #515354;
}
.bg-image-section div:nth-child(18n - 17) {
  background: #ffb800;
}
.bg-image-section div:nth-child(18n - 18) {
  background: #007432;
}
.part-1 > div {
  margin-bottom: calc(var(--s) * 0.576);
}
.part-2 > div {
  margin-bottom: calc(var(--s) * 0.576);
}

.bg-image-container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    rgba(0, 0, 0, 0) 0 calc(var(--f) - 2px),
    rgba(0, 0, 0, 255) 0 calc(var(--f))
  );
}

@media not screen and (width < 32em) {
  .bg-image-container p {
    justify-content: center;
    display: flex;
    padding-top: 0.75rem;
  }
  .top-nav {
    height: 4.5rem;
  }
}

@media screen and (width < 32em) {
  #bg-image {
    --s: 80px; /* size  */
    --m: 0px; /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
  }

  .bg-image-container p {
    font-size: 1rem;
  }
}
