:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(206, 100%, 52%);
  --clr-very-light-blue: hsl(206, 100%, 92%);
}

html,
body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
  cursor: url(/assets/meeple.png) 16 16, pointer;

}

#container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 65rem;
  margin-inline: auto;
}


#page-info {
  padding-top: 0.5rem;
  background-color: var(--clr-very-light-blue);
  border-radius: 10px;
  color: var(--clr-dark-blue);
}

#page-info p {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}


.page-section h3 {
  color: var(--clr-dark-blue);
  font-size: 1.5rem;
}

.page-section p {
  color: var(--clr-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
}


#bg-image {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  --s: 15rem;  /* size  */
  --m: 0px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  width:100%;
  height:100%;
  background-color: #01118D;
  opacity:0.06;

}

.bg-image-container {
  font-size: 0; /*disable white space between inline block element */
}

.bg-image-container > div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  align-items: center;
  justify-content: center;
}

.front {
  display: block;
  position: relative;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  color: white;
  background: var(--clr-light-blue);
  will-change: transform;
  transform: translateY(-4px);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
          to left,
          var(--clr-darker-blue) 0%,
          var(--clr-light-blue) 8%,
          var(--clr-dark-blue) 92%,
          var(--clr-darker-blue) 100%
  );
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
}

.raised {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height:1;
  outline-offset: 4px;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.bg-image-container div:nth-child(18n -1) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 2) {
  background:#A32200;
}

.bg-image-container div:nth-child(18n - 3) {
  background:#007432;
}

.bg-image-container div:nth-child(18n - 4) {
  background:#007432;
}


.bg-image-container div:nth-child(18n - 5) {
  background:#515354;
}


.bg-image-container div:nth-child(18n -6) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 7) {
  background:#A32200;
}


.bg-image-container div:nth-child(18n -8) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 9) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n -10) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n -11) {
  background:#007432;
}

.bg-image-container div:nth-child(18n - 12) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n -13) {
  background:#FFB800;
}


.bg-image-container div:nth-child(18n - 14) {
  background:#A32200;
}

.bg-image-container div:nth-child(18n - 15) {
  background:#515354;
}

.bg-image-container div:nth-child(18n - 16) {
  background:#515354;
}

.bg-image-container div:nth-child(18n - 17) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n - 18) {
  background:#007432;
}

.part-1 {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
}

.part-1 > div {
  margin-bottom: calc(var(--s)*0.576);
}

.part-2 {
  z-index: -100;
  position: fixed;
  top: calc(var(--s)*0.86610);
  left:calc(var(--s)/2);
}

.part-2 > div {
  margin-bottom: calc(var(--s)*0.576);
}


.bg-image-container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
          rgba(0,0,0,0) 0 calc(var(--f) - 2px),
          rgba(0,0,0, 255)  0 calc(var(--f)));
}


@media not screen and (width < 32em) {
  .bg-image-container p {
    justify-content: center;
    display: flex;
    padding-top: 0.75rem;
  }
}



@media screen and (width < 32em) {
  #bg-image {
    --s: 5rem;  /* size  */
    --m: 0px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  }


  .bg-image-container p {
    font-size:1rem;
  }

  #more-info-div {
    height:5rem;
    display: inline-block;
  }

  #more-info-div img {
    display: none;
  }
}


