:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(206, 100%, 52%);
}

html,
body {
  padding-inline: 1rem;
  padding-block-end: 3rem;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
}

button {
  background-color: var(--clr-lighter-blue);
  border-color: var(--clr-darker-blue);
  border-radius: 5px;
  border-width:1px;
  color: white;
  font-size: 1rem;
  padding:0.5rem;
}

button:hover {
  background-color: var(--clr-darker-blue);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container {
  max-width: 65rem;
  margin-inline: auto;
}



#page-info {
  padding-top: 8px;
}

#page-info {
  background: hsl(from var(--clr-lighter-blue) h s l / 0.1);
  border-radius: 10px;
  color: var(--clr-dark-blue);
}

#page-info p {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

