:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(206, 100%, 52%);
  --clr-very-light-blue: hsl(206, 100%, 92%);
}

html,
body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
  cursor: url(/assets/meeple.png) 16 16, pointer;

}

#container {
  max-width: 65rem;
  margin-inline: auto;
}


#page-info {
  padding-top: 8px;
}

#page-info {
  background-color: var(--clr-very-light-blue);
  border-radius: 10px;
  color: var(--clr-dark-blue);
}

#page-info p {
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

#root {
  padding-top: 0.25rem;
}

#nav-container {
  padding-bottom: 0.25rem;
}


.page-section h3 {
  color: var(--clr-dark-blue);
  font-size: 1.5rem;
  margin: 0.5rem 0 0 3rem;
}

.page-section p {
  color: var(--clr-dark-blue);
  font-size: 1.25rem;
  font-weight: 600;
}


.ui-separator {
  border-top: 1px solid var(--clr-lighter-blue);
}

.ui-section {
  font-size: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.raised:hover {
  transform:none;
  transition: none;
}

.raised:active {
  transform:none;
  transition: none;
}

.raised {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 600ms;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
          to left,
          var(--clr-darker-blue) 0%,
          var(--clr-light-blue) 8%,
          var(--clr-dark-blue) 92%,
          var(--clr-darker-blue) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  color: white;
  background: var(--clr-light-blue);
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

#bg-image {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  --s: 15rem;  /* size  */
  --m: 0px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.bg-image-container {
  font-size: 0; /*disable white space between inline block element */
  opacity:0.1;
}

.bg-image-container > div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #00762C;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  align-items: center;
  justify-content: center;
}

.bg-image-container div:nth-child(18n -1) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 2) {
  background:#A32200;
}

.bg-image-container div:nth-child(18n - 3) {
  background:#007432;
}

.bg-image-container div:nth-child(18n - 4) {
  background:#007432;
}


.bg-image-container div:nth-child(18n - 5) {
  background:#515354;
}


.bg-image-container div:nth-child(18n -6) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 7) {
  background:#A32200;
}


.bg-image-container div:nth-child(18n -8) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n - 9) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n -10) {
  background:#00FC6E;
}

.bg-image-container div:nth-child(18n -11) {
  background:#007432;
}

.bg-image-container div:nth-child(18n - 12) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n -13) {
  background:#FFB800;
}


.bg-image-container div:nth-child(18n - 14) {
  background:#A32200;
}

.bg-image-container div:nth-child(18n - 15) {
  background:#515354;
}

.bg-image-container div:nth-child(18n - 16) {
  background:#515354;
}

.bg-image-container div:nth-child(18n - 17) {
  background:#FFB800;
}

.bg-image-container div:nth-child(18n - 18) {
  background:#007432;
}

.part-1 {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #01118D;
}

.part-1 > div {
  margin-bottom: calc(var(--s)*0.576);
}

.part-2 {
  z-index: -100;
  position: fixed;
  top: calc(var(--s)*0.86610);
  left:calc(var(--s)/2);
}

.part-2 > div {
  margin-bottom: calc(var(--s)*0.576);
}


.bg-image-container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
          rgba(0,0,0,0) 0 calc(var(--f) - 2px),
          rgba(0,0,0, 255)  0 calc(var(--f)));
}



@media not screen and (width < 32em) {
  .numberCircle {
    z-index: -10;
    position: fixed;
    height:5rem;
    width: 5rem;
    margin: 5rem;
    clip-path: circle(2rem);
    background-color: #f3c981;
  }
  .bg-image-container p {
    justify-content: center;
    display: flex;
    padding-top: 0.75rem;
  }
}

.homepage-default-action-div {
  display:flex;
  align-items: center;
}

.homepage-default-action-div img {
  padding-top:20px;
  padding-right:0.5rem;
}

#open-create-group-div {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-lighter-blue);

}

@media screen and (width < 32em) {
  #bg-image {
    --s: 5rem;  /* size  */
    --m: 0px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  }

  .numberCircle {
    z-index: -10;
    position: fixed;
    height:3rem;
    width: 3rem;
    margin: 1rem;
    clip-path: circle(1rem);
    background-color: #f3c981;
  }

  .bg-image-container p {
    font-size:1rem;
  }

  #more-info-div {
    height:5rem;
    display: inline-block;
  }

  #more-info-div img {
    display: none;
  }
}

