@scope (game-restaurant-list-component) {
  ul {
    list-style:url(/assets/images/meeple_small.png);
    margin-top:0;
    padding-left:1.5rem;
  }
  .game-resturant-list-item * {
    margin-top:0.5em;
    margin-bottom:0.5em;
    display: inline-block;
  }
}
