@scope (game-store-list-component) {
	h1 { 
		margin-top:1rem;
	}
	p {
		font-size: 1rem;
	}
	ul {
		list-style:url(/assets/images/meeple_small.png);
		margin-top:0;
		padding-left:1.5rem;
	}
	.game-store-list-item * {
		display: inline-block;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}
	@media not screen and (width < 32em) {
		h1 {
			padding-left:1.5rem;
		}
	}
} 
