select {
	width:10rem;
} 
.searchDropdownLabel {
	font-weight:600;
}      
#search-input-div {
	margin-top:0.5rem;
} 
@media screen and (width > 32em) {
	fieldset label {
		display:inline;
	}
} 
@media screen and (width < 32em) {
	fieldset label {
		justify-content:center;
	}   
	#form-div-outer {
		width: 100%
	} 
	#search-cities {
		margin-bottom: 0.5rem; 
		margin-left:auto;
		margin-right:auto;  
	}
	#search-distance-id {
		margin-right:auto;
		margin-left:auto;
	} 
	#search-input-div > button {
		margin-bottom: 0.5rem;
	} 
	.searchDropdownLabel {
		text-align:center;
		justify-content:center; 
	} 
	.search-form-two-inputs {
		height:4rem;
	} 
	.search-form-three-inputs { 
		height:7.5rem;
	} 
}
